<section>
    <div class="container">
        <div class="row mt-5 " style="margin-bottom: 10px;">
            <a href="/admin/add_product" class="btn btn-success ml-auto"> Add product</a>
        </div>
        <table class="table mt-5" id="myTable">
            <thead> 
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Decscription</th>
                    <th scope="col">Image</th>
                     <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <th scope="row">{{$index}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.cate}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.desc}}</td>
                    <td><img style="width:50px;height:50px" src="/product_images/{{this._id}}.jpg" alt=""></td>
                    <td>
                        <a href="admin/edit_products/{{this._id}}" class="btn btn-primary">Edit</a>
                         <a href="admin/del_products/{{this._id}}" class="btn btn-danger"
                            onclick=" return confirm('Are you want to delete {{this.name}} {{this._id}}')">Delete</a>
                        {{!-- <a href="admin/del_products ?id={{this._id}}&name=ninu" class="btn btn-primary">Delete</a> --}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
                       
</section>

<script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>