<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {{#each Products}}
                <tr>

                    <td><img style="width:70px;height:70px" src="/product_images/{{this.product._id}}.jpg" alt=""></td>
                    <td>{{this.product.name}}</td>
                    <td>{{this.product.price}}</td>

                    <td>

                        <button class="cart-item-count mr-3"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">-</button>
                        <span id='{{this.product._id}}'>{{this.quantity}}</span>
                        <button "cart-item-count ml-3"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">+</button>


                    </td>
                    <td><a class="btn btn-danger" href="">Delete</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <hr> 
        <div class="float-right pr-5">
            <h4 class="float-left mr-5 ">Total :Rs.<span id="total">{{totalAmt}}</span> <h4>
            <a href="/place_order" class="btn btn-success mt-5" style="width=100%"><b>Place Order </b> </a>
        </div>

    </div>
</section>

<script>

    function changeQuantity(cartId, prodId,userId, count) {
        let quantity = parseInt(document.getElementById(prodId).innerHTML)

        count = parseInt(count)
        $.ajax({
            url: '/change_product_quantity',
            method: 'post',
            data: {
                userId:userId,
                cart: cartId,
                product: prodId,
                count: count,
                quantity: quantity
            },
            success: (response) => {
                    
                if (response.removeProduct) {
                    alert("Product removed from cart")
                    location.reload()
                } else {
                    //console.log(response)
                    document.getElementById(prodId).innerHTML = quantity + count
                    document.getElementById('total').innerHTML=response.total
                }

            }
        })
    }


</script>